<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<form class="form-horizontal">
  
  <div class="container wrapper ">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group-prepend form-group">
            <div class="input-group-prepend">
<!--               <span class="input-group-text"><i class="fas fa-user"></i></span>
 -->            </div>
            <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>        
          </div>
          <div class=" form-group">
            <div class="input-group-prepend">
<!--               <span class="input-group-text"><i class="fas fa-key"></i></span>
 -->            </div>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
          </div>
          <% if devise_mapping.rememberable? %>
             <div class=" remember form-group">
             <%= f.check_box :remember_me, class: 'input-group-prepend ' %>
             <%= f.label :remember_me, class: 'input-group-prepend ' do %>
             <%= resource.class.human_attribute_name('remember_me') %>
             <% end %>
            </div>
           <% end %>
          <div class="form-group">
           <%= f.submit "Log in", class: "btn float-right login_btn" %>
          </div>
        </form>
      </div>
      <div class="card-footer">
     <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
</form>
<% end %>

  

