
<div class='container-fluid'>
      <p id="notice"><%= notice %></p>
      <div class='row py-3 px-3'>
        <div class='col-12 col-sm-8'>
          <h3 class=''>Projects</h3>
          <table id='employee-table' class="table table-hover">
            <thead  class="thead-light">
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @task.each do |task| %>
                <tr>
                   <td><%= task.name%></td>
                   <td><%= task.description %></td>
                   <td><%= task.project.name %></td>
                    <td><%= link_to 'Show', projects_path(id: project.id) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <div class='inline-button'>
          <%= link_to 'New Project',new_project_task_path,class: "btn btn-primary" %> 
          
      </div>
        </div>          
        </div>
      </div>
    </div>


<%= button_to "Edit task", edit_task_project_path(@task), method: :get %>