<div class="float-container ">
<div class="float-child">
    <div class="container">
 <strong>Project Type:</strong>
  <%=@project.project_type%>
 </div>
  <div class="container">
    <strong>Title:</strong>
  <%= @project.title %>
  </div>
 
  <div class="container">
    <strong>Description:</strong>
  <%= @project.text %>
  </div>
</div>
  <div class="float-child">
  <div class="container">

  <%= render template: "task/show"%>

 <div class="inline-button container">
  <%= link_to "New Task", new_project_task_path(@project), class: "btn btn-primary" %>
</div>
  </div>
</div>
</div>