<div class='container-fluid'>
      <p id="notice"><%= notice %></p>
        <div class='col form-group'>
          <h3 class=''>Admin</h3>
          <table class="table table-bordered">
            <thead  class="thead-light">
              <tr>
               <th>Id</th>
                <th>Name</th>
                <th>Role</th>                
                <th>Email</th>
                <th>Project Count</th>
                <th>Organization</th>
                <th>SignIn IP</th>
             </tr>
            </thead>
            <tbody>
              <% User.where(:role=="employee").each do |u| %>
                <tr>
                   <td><%= u.id %></td>
                   <td><%= u.name %></td>
                   <td><%= u.role %></td>
                   <td><%= u.email %></td>
                   <td><%= u.projects.count %></td>
                   <td><%= u.organization.organization_name %></td>
                   <td><%= u.current_sign_in_ip%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          </div> 
         
        </div>