  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container card-header">
    <h2>Sign up</h2>
      </div>
  <div class="container">
    <%= f.label :firstname , class: 'col-sm-3 control-label' %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
  </div><br>

  <div class="container">
    <%= f.label :lastname, class: 'col-sm-3 control-label' %><br />
    <%= f.text_field :lastname, autofocus: true, class: 'form-control' %>
  </div><br>

  <div class="container">
    <%= f.label :username, class: 'col-sm-3 control-label' %><br />
    <%= f.text_field :uname, autofocus: true, class: 'form-control' %>
  </div><br>

  <div class="container">
    <%= f.label :phonenumber, class: 'col-sm-3 control-label' %><br />
    <%= f.text_field :phonenumber, autofocus: true, class: 'form-control' %>
  </div><br>

  <div class="container">
    <%= f.label :email, class: 'col-sm-3 control-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'  %>
  </div><br>

  <div class="container">
    <%= f.label :password, class: 'col-sm-3 control-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div><br>

  <div class="container">
    <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div><br>
  
    <div class=" container custom-control custom-radio custom-control-inline">
     <%= f.label :Gender, "Gender",class: 'custom-control-label'%>
    <%= f.radio_button :is_female, '1' %> <%= f.label :is_female, "Female",class: 'custom-control-label'%>
    <%= f.radio_button :is_female, '0' %> <%= f.label :is_female, "Male",class: 'custom-control-label' %>
   </div><br />
  <div class=" container custom-select custom-select-lg mb-3">
      <%= f.label :date_of_birth %><br>
        <%= f.date_select :date_of_birth,start_year: 1995  %>
  </div><br />
  <div class="container">
    <%= f.label :organization %><br />
    <%= f.select :organization_id, Organization.all.collect { |o| [ o.organization_name, o.id ] },class: 'form-control'%>  
  </div><br>
    <div class="container">
  <%= f.label :Image %>
    <%= f.file_field :attachment, class: 'form-group'%>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary center-block" %>
  </div>
  <br>
  <br>
  

<% end %>